.w-file-browser {
    border: solid 1px black;

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    .w-link {
        cursor:pointer;
    }

    .w-breadcrumb {
        width:100%;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        overflow:scroll;
        li {
            padding-right: 1em;
        }

        .w-separator {
            &:before {
                padding-right: 1em;
                content:'>'
            }
        }
    }

    .w-favs {
        background-color:lightgray;
        border-right: solid 1px black;
        margin-top:0px;
        margin-bottom:0px;
        margin-right: 3em;
        padding:1em;
        overflow:scroll;
    }
    .w-content {
        flex-direction: row;
        overflow:scroll;
        flex-wrap:wrap;

        .file, .directory {
            cursor: pointer;
            padding: 0.5em;

            &:hover {
                background-color:lightblue;
            }
            margin: 0.5em;
        }

        .file {
            min-width: 1em;
            min-height: 2em;
        }

        .directory {
            min-width: 2em;
            min-height: 1.5em;
        }

        .file:not(.item-preview) {
            @include icon(file);
        }

        .directory {
            @include icon(folder);
        }

        .item-icon, .item-title {
            display:block;
        }
    }

}
