<address class=''>
    AMCA (conference office)<br/>
    Vyšehradská 320/49<br/>
    128 00 Praha 2<br/>
    Czech&nbsp;Republic<br/>
   

    <a href='mailto:office@lc2019.cz'><i class="fas fa-envelope"></i> &nbsp;&nbsp; office<b class='larger'>@</b>lc2019.cz</a><br/>
    <i class="fas fa-phone"></i> &nbsp;&nbsp; +420&nbsp;221&nbsp;979&nbsp;351
</address>
