<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Logic Colloquium 2019</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block styles %}
            <link rel='stylesheet' href='static/core/css/materialize.css' type='text/css'  crossorigin='anonymous' ></link>
            <link href='{{ static("core/css/core.css") }}' rel="stylesheet">

            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import Font Awesome Icon Font-->
            <link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css"  crossorigin="anonymous" rel="stylesheet" >

        {% endblock styles %}
    </head>
    <body>
        <!-- HEADER -->
        <nav class='align-center {% block navclass %}{%endblock navclass %}'>
            <div class='logo'>
                <div>
                    <a href='/' class='logo'>
                        <b>LC2019</b>
                    </a>
                </div>
            </div>

            <input type='checkbox' class='menu-toggle' checked=false />
            <ul class='align-bottom'>
<!--                 <li> <a href="venue" class='item '>Venue</a></li> -->
<!--                 <li> <a href="social" class='item '>Social</a></li> -->
<!--                 <li> <a href="accommodation" class='item '>Hotels</a></li> -->
<!--                 <li> <a href="registration" class='item '>Register</a></li> -->
                <li> <a href="invited" class='item '>Invited talks</a></li>
                <li> <a href="slides" class='item '>Slides</a></li>
                <li> <a href="abstracts" class='item '>Abstracts</a></li>
                <li> <a href="participants" class='item '>Participants</a></li>
                <li> <a href='photos' class='item'>Photos</a></li>

<!--                 <li> <a href="schedule" class='item '>Schedule</a></li> -->

                <!--<li> <a href="support" class='item '>Support</a></li>-->
                <li> <a href="contact" class='item '>Contact</a></li>
                <!--<li> <a href="clmpst" class='item '>CLMPST</a></li>-->
            </ul>
        </nav>

        <!-- PAGE CONTENT -->
        {% block content %}
        {% endblock content %}
        <!--<div class="fixed-action-btn">
            <a class="btn-floating btn-small dark-bg" href='#footer'>
                <i class="large material-icons">keyboard_arrow_down</i>
            </a>
        </div>-->
        <!-- FOOTER -->
        <footer class='page-footer page'>
        <a name='footer' class='anchor'></a>
        <div class="row">
              <!-- <div class="col l4 hide-on-med-and-down">
                <h5 class="white-text">Logic Colloquium</h5>
                <p class="grey-text text-lighten-4">
                European Summer Meeting<br/>
                of the Association for Symbolic Logic<br/>
                Prague, August 11&ndash;16, 2019
                </p>
              </div> -->

              <div class="col s12 m4 l3">
                <h6>Program Committee</h6>
                <ul>
                    <li><b>Lev Beklemishev (Moscow)</b></li>
                <!--     <li>&nbsp;</li>
                </ul>
                <ul> -->
                    <li>Andrew Arana (Paris)</li>
                    <li>Agata Ciabattoni (Vienna)</li>
                    <li>Russell Miller (New York)</li>
                    <li>Martin Otto (Darmstadt)</li>
                    <li>Pavel Pudlák (Prague)</li>
                    <li>Stevo Todorčević (Toronto)</li>
                    <li>Alex Wilkie (Oxford)</li>
                </ul>
              </div>

              <div class="col s12 m3 l3">
                <h6>Organizing Committee</h6>
                <ul>
                    <li><b>David Chodounský</b></li>
                    <li><b>Jonathan Verner</b></li>
                </ul>
                <ul>
                    <li>Petr Cintula</li>
                    <li>Radek Honzík</li>
                    <li>Jan Hubička</li>
                    <li>Pavel Pudlák</li>
                    <li>Jan Starý</li>
                    <li>Šárka Stejskalová</li>
                    <li>Neil Thapen</li>
                </ul>
              </div>

              <div class='col s12 m4 l3'>
                  <h6>Organizers &nbsp;</h6>
                  <ul>
                      <li>Institute of Mathematics<br/>of the Czech Academy of Sciences</li>
                      <li>&nbsp;</li>
                      <li>Faculty of Arts &amp;<br/>
                          Faculty of Mathematics and Physics,<br/>
                      Charles University</li>
                      <li>&nbsp;</li>
                      <li>Faculty of Information Technology,<br/>Czech Technical University in Prague</li>
                  </ul>
              </div>

              <div class="col s12 m4 l3">
                <h6>Contact  &nbsp;</h6>
                <div class="spacer"></div>
                <address class='grey-text text-lighten-3'>
                    AMCA (conference office)<br/>
                    Vyšehradská 320/49<br/>
                    128 00 Praha 2<br/>
                    Czech&nbsp;Republic<br/>
                    <div class="spacer"></div>
                    <a href='mailto:office@lc2019.cz'><i class="fas fa-envelope"></i> &nbsp;&nbsp; office<b class='larger'>@</b>lc2019.cz</a><br/>
                    <i class='fas fa-phone'></i> &nbsp;&nbsp; +420&nbsp;221&nbsp;979&nbsp;351
                </address>
              </div>
            </div>

          <div class="footer-copyright">
              <div>
                  <div>
                      <a href='https://www.math.cas.cz'><img src='{{ static("core/img/mu-white.svg") }}' class='logo' alt='Institute of Mathematics, Czech Academy of Sciences'/></a>
                      <a href='https://www.cuni.cz'><img src='{{ static("core/img/uk-white.svg") }}' class='logo' alt='Charles University'/></a>
                      <a href='https://www.fit.cvut.cz'><img src='{{ static("core/img/cvut-white.svg") }}' class='logo' alt='Faculty of Information Technology, Czech Technical University'/> </a>
                      <a href='http://aslonline.org'><img style='padding-top:6px' src='{{ static("core/img/asl-logo.svg") }}' alt='Association for Symbolic Logic' class='logo'/> </a>
                  </div>
                  <div>
                      © 2018 Neil Thapen, Jonathan Verner <!--<a href='/admin_sched'>schedule slides</a>-->
                  </div>
              </div>
              <div>
                  <div>
                      <a href="https://www.rsj.com/en/homepage"><img itemprop="logo" src="{{ static("core/img/rsj-logo.svg") }}" alt="RSJ Foundation" class='logo'></a>
                    </div>
                  <div>sponsor</div>
              </div>

          </div>

        </footer>

        <!-- JAVASCRIPT CONFIGURATION -->
            <!-- MATHJAX -->
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                    tex2jax: {
                        inlineMath: [['$','$'], ['\\(','\\)']]
                    }
                });
            </script>


        <!-- JAVASCRIPT LIBS & APPS -->
        {% block javascript %}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


            {#<!-- Compiled and minified JavaScript -->
            <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->

            <!--<script>
                 M.AutoInit();
            </script>-->
            #}
        {% endblock javascript %}
    </body>
</html>
