@font-face {
    font-family: 'Orkney';
    src: url('/static/core/fonts/OrkneyBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('/static/core/fonts/OrkneyBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Orkney';
    src: url('/static/core/fonts/OrkneyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Orkney';
    src: url('/static/core/fonts/OrkneyLight.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('/static/core/fonts/OrkneyLightItalic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Orkney';
    src: url('/static/core/fonts/OrkneyMedium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Orkney';
    src: url('/static/core/fonts/OrkneyMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: medium;
}

@font-face {
    font-family: 'Orkney';
    src: url('/static/core/fonts/OrkneyRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

