div.other-events {
    @media (min-width: 1580px) {
        float:right;
        width:20em;
        margin-top:2em;
    }
}

.v-spacer.afternoon {
    @media (max-width: 1800px) {
        clear:both;
    }
}

div.schedule.Thursday {
    height: 398px;
}

div.schedule.sunday {
    height: 0px
}

div.schedule {
    position:relative;
    height: 462px;
    margin-bottom:5em;

    .talk {
        position:absolute;
        border: solid 1px black;
        width: 10em;

        .title {
            display:none;
        }
        .author {
            font-size:10pt;
        }
        .duration {
            font-size:9pt;
        }
        .chairman {
            font-size: smaller;
            font-style: italic;
        }
    }

    .sidebar {
        top: -5em;
        left: 55em;
        position: absolute;
        width: 10em;
        p {
            font-size:10pt;
        }
        div {
            text-align: center;
        }
    }

    .tutorial {
        background-color: lightyellow;
    }
    .other {
        background-color: lightgray;
    }
    .Kohlenbach {
        background-color: lightblue;
    }

    .plenary {
        .title {
            display: block;
            font-size:9pt;
            padding:2px;
            margin:0px;
        }
        .duration {
            float:right;
            padding:2px;
        }
        .author {
            padding:2px;
        }
    }

    a {
        font-weight: normal;
        color: black;
    }


    .talk.chairman {
        border: none !important;
    }

    .talk.invited {
        .author {
            font-weight: bold;
        }
    }

    .talk.plenary.daytitle {
        top: -3em;
        border: none;
    }

    .talk.session.daytitle {
        width:54em;
        border: solid 1px black;
        background-color: lighten($main-dark-color,30%);
        left:0em;
        top: -5em;
        color:white;
    }
    .talk.session.coffeebreak {
        width:54em;
        border: none;
        left:0em;
        font-style: italic;
        margin-top:1em;
    }

    .room-1.room-title, .room-2.room-title, .room-3.room-title, .room-4.room-title, .room-5.room-title {
        top: -3em;
        border: none;
    }

    .room-0.plenary.Monday, .talk.plenary.daytitle.Monday, .talk.plenary.Monday {
        left:0em;
    }
    .room-0.plenary.Tuesday, .talk.plenary.daytitle.Tuesday, .talk.plenary.Tuesday {
        left:11em;
    }
    .room-0.plenary.Wednesday, .talk.plenary.daytitle.Wednesday {
        left:22em;
    }
    .room-0.plenary.Thursday, .talk.plenary.daytitle.Thursday {
        left:33em;
    }
    .room-0.plenary.Friday, .talk.plenary.daytitle.Friday {
        left:44em;
    }

    .room-1 {
        left:0em;
    }

    .room-2 {
        left:11em;
    }
    .room-3 {
        left:22em;
    }
    .room-4 {
        left:33em;
    }
    .room-5 {
        left:44em;
    }

    .set-theory {
        background-color: #aca55f;
    }

    .unspecified, .general {
        background-color: #918f8f;
    }
    .proof-theory-and-proof-complexity {
        background-color: #f17ec2;
    }
    .reflection-principles-and-modal-logic {
        background-color: #80d6f7;
    }
    .computability {
        background-color: #a0d68a;
    }
    .model-theory {
        background-color: #f6dc84;
    }
    .foundations-of-geometry {
        background-color: #e5826d;
    }

    .noslides {
        background-color: #fdd6d6 !important;
    }


}

