$main-dark-color: color(dark, main);
$accent-dark-color: color(dark, accent);
$faded-dark-color: color(dark, faded);
$main-light-color: color(light, main);
$accent-light-color: color(light, accent);



/* Links */
@mixin link($bg) {
    color: color($bg, accent);
    text-decoration: none;
    &:hover {
        color: darken(color($bg, accent), 10%);
        text-decoration: none;
    }
}

@mixin transition($style) {
  -webkit-transition: $style;
  -moz-transition: $style;
  -ms-transition: $style;
  -o-transition: $style;
  transition:  $style;
}



/* Global Properties */
body {
    background-color: $main-light-color;
    color: $main-dark-color;
    font-family: $body-font;
}

/*h1 {
     @media (max-width: 700px) {
         font-size:2em;
     }
}*/
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

/*h1 {
    font-size: 1.8em;
}

h2 {
    font-size:1.6em;
}

h3 {
    font-size:1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size:larger;
}*/

h5 {
    font-size:1.4em;
}

hr {
    border-top: solid 1px $faded-dark-color;
}

a {
    @include link(dark);
    font-weight:bold;
}

.speaker {
    font-weight: bold;
    font-size: 1.3em;
}

p {
    margin-bottom: 1em !important;
}

tr {
    border: none !important;
}
td.right {
    text-align:right;
}

tr.heading {
    border-bottom: solid 1px !important;
}



/* FORMS */

input {
    @include transition(all 0.30s ease-in-out);
    outline: 0;
    border: solid 1px color(dark, faded) !important;

    &:focus {
        box-shadow: 0 0 5px color(dark, accent) !important;
        border: solid 1px color(dark, accent) !important;
        outline: 0;
    }
}

/* Buttons */
.btn-primary {
    color: color(light, main);
    background-color: color(dark, accent);
    border: darken(color(dark,accent),30%);
    &:hover {
        background-color: darken(color(dark, accent), 10%);
    }
}


/* Header Navigation */

nav {
    position: fixed;
    top: 0;
    color: black;
    background-color:transparent;
    border: none;
    box-shadow: none;
    padding-left:3%;
    padding-right:1.5%;
    padding-top:1.1em;
    padding-bottom: 1em;
    z-index:100;

    .menu-toggle {
        padding-right:5%;
        padding-top: 0.1em;
        color: $main-light-color;
    }


    .logo {
        color: $main-dark-color;
        font-family: $header-font;
        font-size: 10pt;
    }

    a {
        color: $main-dark-color !important;
        font-size: 19px !important;
        padding: unset !important;
        font-weight: normal;
        border-bottom: solid 2px lighten($main-dark-color,30%) !important;
    }

    a:hover {
        border-bottom: solid 2px $accent-dark-color !important;
    }


    a:hover {
        background-color:transparent !important;
    }
/*
    a:hover:not(.logo) {
        border-bottom: solid 1px $accent-dark-color !important;
    }

    a.logo {
        display:inline-block;
        padding-left:1em !important;
        border-left: solid 2px $main-dark-color !important;
    }
    a.logo:hover {
        border-left: solid 2px $accent-dark-color !important;
    }

    a.active:not(.logo) {
        border-bottom: solid 1px $main-dark-color;
    }
    */


    @media (max-width: $mobile-width) {
        a:not(.logo) {
            padding-left: 1em !important;
            border-left: solid 2px transparent;
        }
        a:hover:not(.logo) {
            border-left: solid 2px $accent-dark-color !important;
            border-bottom: solid 2px lighten($main-dark-color,30%) !important;
        }
        a.active:not(.logo) {
            border-left: solid 2px $main-dark-color;
            border-bottom: solid 2px lighten($main-dark-color,30%) !important;
        }
    }
}

nav.dark {
    background-color:lighten($main-dark-color,30%) !important;

    a {
        color: $main-light-color !important;
    }
}

.prague-background {
    @media (max-width: 700px) {
         background: url('/static/core/img/conference-photo-800.jpg') center center / cover no-repeat;
    }
    @media (max-width: 1600px) {
        background: url('/static/core/img/conference-photo-1650.jpg') center center / cover no-repeat;
    }
     background: url('/static/core/img/conference-photo-3800.jpg') center center / cover no-repeat;;
}

.reg-background {
    @media (max-width: 700px) {
        background: url('/static/core/img/reg-back-800.jpg') center center / cover no-repeat;;
    }
    @media (max-width: 1600px) {
        background: url('/static/core/img/reg-back-1650.jpg') center center / cover no-repeat;;
    }
    background: url('/static/core/img/reg-back.jpg') center center / cover no-repeat;;
}

.clmps-background {
    @media (max-width: 700px) {
        background: url('/static/core/img/clmps-back-800.jpg') center center / cover no-repeat;;
    }
    @media (max-width: 1600px) {
        background: url('/static/core/img/clmps-back-1650.jpg') center center / cover no-repeat;;
    }
    background: url('/static/core/img/clmps-back.jpg') center center / cover no-repeat;;
}

.support-background {
    @media (max-width: 700px) {
        background: url('/static/core/img/support-back-800.jpg') center center / cover no-repeat;;
    }
    @media (max-width: 1600px) {
        background: url('/static/core/img/support-back-1650.jpg') center center / cover no-repeat;;
    }
    background: url('/static/core/img/support-back.jpg') center center / cover no-repeat;;
}

.contact-background {
    @media (max-width: 700px) {
        background: url('/static/core/img/contact-back-800.jpg') center center / cover no-repeat;;
    }
    @media (max-width: 1600px) {
        background: url('/static/core/img/contact-back-1650.jpg') center center / cover no-repeat;;
    }
    background: url('/static/core/img/contact-back.jpg') center center / cover no-repeat;;
}

.venue-background {
    @media (max-width: 700px) {
        background: url('/static/core/img/venue-back-800.jpg') center center / cover no-repeat;;
    }
    @media (max-width: 1600px) {
        background: url('/static/core/img/venue-back-1650.jpg') center center / cover no-repeat;;
    }
    background: url('/static/core/img/venue-back.jpg') center center / cover no-repeat;;
}

.page:first-of-type:not(footer) {
    min-height: 100vh;
    width: 100%;
    z-index:-10;
}

.page {
    padding-top:3em;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 19px;
}

.divider {
    background-color: color(dark, main) !important;
}


footer {
    padding-top:1.5em !important;
    padding-left:1.5em !important;
    padding-right:1.5em !important;
    font-size:16px !important;
    background-color: lighten($main-dark-color,20%) !important;
    ul {
        list-style: none;
    }
    .logo {
        height: 4em;
        margin-right: 1em;
        margin-bottom: 0.5em;
    }
}
address {
    font-style: normal;
}

.author.main {
    text-decoration: underline;
}
.author.bold {
    font-weight: bold;
}

.titleWithSection {
    font-weight: normal;
    color: black;
    margin-left: 1em;
    margin-top: 0em;
    padding-top: 0em;
    margin-bottom: 0.2em;
}


.title {
    font-style: italic;
    font-weight: normal;
    color: black;
    margin-left: 1em;
    margin-top: 0em;
    padding-top: 0em;
    margin-bottom: 0.2em;
}

.abstract {
    clear:both;
}

iframe.schedule {
    max-width:1248px;
    height:1350px;
    border: solid 1px lightgray;
}
table.schedule {
    max-width:1248px;
}

.invited-talks.title {
    font-style: italic;
    font-size: 10pt;
    display: block;
    margin-left:0px;
}

.schedule {
    th, td {
        text-align:center;
    }
}

.social {
    h4 {
        font-size: larger;
        font-weight: bold;
    }
}
