$invisible-color: transparent;

/* Hilighted BG Block */
@mixin hi-bg {
  color: $main-light-color;
  background-color: $accent-dark-color;
  a {
      @include link(light);
  }

  input {
    color: color(light, main);
    background-color: color(dark, accent);
    @include transition(all 0.30s ease-in-out);
    outline: 0;
    border: solid 1px color(light, faded) !important;

    &:focus {
        color: color(light, main);
        background-color: color(dark, accent);
        box-shadow: 0 0 5px color(light, accent) !important;
        border: solid 1px color(light, accent) !important;
        outline: 0;
    }
  }
}

$icon-chars : (
    "menu": "menu",
    "folder": "folder",
    "file": "insert_drive_file",
    "login": "login"
);

@mixin icon($name) {
    &:checked::before {}
    &::before {
        font-family: $icon-font;
        font-size:inherit;
        content: map-get($icon-chars, $name);
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
}

.icon.i-login {
    @include icon('login');

}

@function color($type, $name) {
    @if $type == "dark" {
        @return map-get($dark-colors, $name);
    }
    @return map-get($light-colors, $name);
}


.separated-list {
    ::before {
        content: ', ';
    }
    :first-child::before {
        content: '';
    }
}

.accented-fg {
    color: color(dark, accent);
}

.light-fg {
    color: color(light, main) !important;
}

.yellow-bg {
    background-color: color(dark, accent);
    a {
        color: color(dark, main) !important;
    }
}

.yellow.btn {
    background-color: color(dark, accent) !important;
    color: color(dark, main) !important;
}
.yellow.btn:hover {
    background-color: lighten(color(dark, main), 30%) !important;
    color: color(light, main) !important;
}

.card-action {
    .align-right {
        float:right;
        margin-bottom:1em;
    }
}

.dark-bg {
    background-color: lighten(color(dark, main), 30%) !important;
    a {
        color: color(dark, accent) !important;
    }
    color: color(light, main) !important;
}

ul.bullets {
    list-style: unset;
    padding-left: 2em;
    li {
        list-style: unset;
    }
}

.larger {
    font-size:larger;
}
.centered {
    text-align:center !important;
}

.align-top {
    align-items:flex-start !important;
}
vspacer {
    height:2em;
}
.spacer {
    height:0.5em;
}

.page {
    width:100%;
}
.page.flex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.full-height {
    min-height: 100vh;
}

.half-width {
    width:50%;
}

.third-width {
    width:50%;
}

.separated-list.comma:not(:last-child)::after {
    content: ", ";
}

.v-spacer.m1 {
    padding:1em;
}
.v-spacer.m2 {
    padding:2em;
}
.v-spacer.m3 {
    padding:3em;
}
.v-space.m10 {
    padding: 10em;
}
.v-space.m20 {
    padding: 20em;
}
.v-space.m30 {
    padding: 30em;
}

.v-spacer {
    padding:3em;
}
.right {
    float:right;
}
