{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
<div class="page full-height flex">
<div class="section">

    <h2>Talks by section</h2>

    Speakers are shown in bold.
    Click on a title to show the abstract. You can also download a
    <a href='{{static("abstracts/LC2019-Book_of_abstracts.pdf")}}'>book of abstracts</a>.

<h3>Plenary talks</h3>
<div class='abstracts'>
{% for abs in day_sort(extract_group(abstracts, 'section', 'Plenary')) %}
        <div class='abstract'>
                {% for a in abs['auth'] %}<span class='author bold'>{{ a['name'] }}{% if not loop.last %}, {% endif %}</span>{% endfor %}
                    <div class='title'>
                        <a href='{{ static("abstracts/"+ abs['path']) }}'>
                            {{ abs['title'] }}
                        </a>
                        {% if 'slides' in abs  %}(<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'>slides</a>){% endif %}
                    </div>
        </div>
{% endfor %}
</div>

<h3>Invited Special Session talks</h3>
{% for session in sessions %}
    {% if session != 'General' %}
    <h4> {{ session }} Session </h4>
    <div class='abstracts'>
    {% for abs in day_sort(extract_group(extract_group(abstracts, 'status', 'invited'), 'section', session)) %}
        {% if abs['status'] == 'invited' %}
            <div class='abstract'>
                    {% for a in abs['auth'] %}<span class='author {% if a['main'] %}bold{% endif %}'>{{ a['name'] }}{% if not loop.last %}, {% endif %}</span>{% endfor %}
                        <div class='title'>
                            <a href='{{ static("abstracts/"+ abs['path']) }}'>
                                {{ abs['title'] }}
                            </a>
                            {% if 'slides' in abs  %}(<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'>slides</a>){% endif %}
                        </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
{% endfor %}

<h3>Contributed talks</h3>

<!--This list contains accepted talks where at least one author has already registered for the colloquium.</p>-->

<div class='abstracts'>
{% for session in sessions %}
    <h4> {{ session }} </h4>
    {% for abs in day_sort(extract_group(abstracts, 'status', 'paid')) %}
           {% if abs['section'] == session and 'schedule' not in abs %}
                <div class='abstract'>
                        {% for a in abs['auth'] %}<span class='author  {% if a['main'] %}bold{% endif %}'>{{ a['name'] }}{% if not loop.last %}, {% endif %}</span>{% endfor %}
                        {% if abs['path'] %}
                                <div class='title'>
                                    <a href='{{ static("abstracts/"+ abs['path']) }}'>
                                        {{ abs['title'] }}
                                    </a>
                                     {% if 'slides' in abs  %}(<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'>slides</a>){% endif %}
                                </div>
                        {% else %}
                                <div class='title'>
                                    {{ abs['title'] }}
                                    {% if 'slides' in abs  %}(<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'>slides</a>){% endif %}
                                </div>
                         {% endif %}
                </div>
           {% elif 'schedule' in abs and get_section(abs, abs['schedule']['day'])==session %}
                <div class='abstract'>
                        {% for a in abs['auth'] %}<span class='author  {% if a['main'] %}bold{% endif %}'>{{ a['name'] }}{% if not loop.last %}, {% endif %}</span>{% endfor %}
                        {% if abs['path'] %}
                                <div class='title'>
                                    <a href='{{ static("abstracts/"+ abs['path']) }}'>
                                        {{ abs['title'] }}
                                    </a>
                                    {% if 'slides' in abs  %}(<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'>slides</a>){% endif %}
                                </div>
                        {% else %}
                                <div class='title'>
                                    {{ abs['title'] }}
                                    {% if 'slides' in abs  %}(<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'>slides</a>){% endif %}
                                </div>
                        {% endif %}
                </div>
            {% endif %}
    {% endfor %}
{% endfor %}

</div>
<div class='v-spacer'></div>
</div>
</div>
{% endblock content %}
