{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
<div class="page full-height flex">
    <div class = "section">

        <div class="card-panel dark-bg" style="padding-top:0.1em; padding-bottom:0.1em">
            <h4><b>Warning - Scam alert</b></h4>

            <p>It was brought to our attention that a third party company operating under the name 
            Business Travel Management (and possibly other names) may be targetting participants 
            of the Logic Colloquium 2019 with a fraudulent travel and hotel booking scheme. 
            The company has been soliciting conference speakers and falsely claiming that it is acting on behalf of the Logic Colloquium organizers. The company can make false claims regarding arranging your accommodation (and possibly other arrangements)  to fraudulently obtain 
            your credit card information.</p>
            
            <p>All local arrangements (hotel booking, etc.) for the Logic Colloquium are handled exclusively by the AMCA conference agency -
            <a href="https://www.amca.cz/en-us">www.amca.cz</a>.
             Information regarding your credit card should in general be handled only through the registration form linked from the conference website. 
             If in doubt please contact the AMCA agency directly via the email 
             address <a href='mailto:office@lc2019.cz'>office@lc2019.cz</a>.</p>
        </div>

       
        <h2>Accommodation</h2>

        <p> We have arranged special prices for the conference with the following four hotels.
            Also see the <a href="/venue"><b>venue page</b></a> for relevant travel information.</p>
           
        <div class="card-panel dark-bg" style="padding-top:1.0em; padding-bottom:1.0em">
                To book a room, select the hotel on the  form when 
                you register for the colloquium, 
                on the <a href="/registration"><b>registration page</b></a>.
                You do not need to contact the hotel directly.
            </div>


        <h4>Hotel Meda</h4>
        <p>Národní obrany 33, Prague 6<br>
        <a href="http://hotelmeda.cz/en.html">www.hotelmeda.cz</a><br>
        Distance from the venue: 1000 m (15 min. walk) – <a href="https://mapy.cz/s/3bEjQ">see map</a></p>
        <p>Single room: 1400 CZK (approx. 56€)<br>
        Double room: 1900 CZK (approx. 76€)</p>
        
         
        <h4>Hotel DAP</h4>
        <p>Vítězné nám. 684/4<br>
        <a href="http://www.daphotel.cz/">www.daphotel.cz</a><br>
        Distance from the venue: 800 m (10 min. walk) - <a href="https://mapy.cz/s/2gfGy">see map</a></p>
        <p>Single room: 1.700 CZK (approx. 68€)<br>
        Double room: 2.200 CZK (approx. 88€)</p>
        
        <h4>Vienna House Diplomat Prague</h4>
        <p>Evropská 370/15, Praha 6<br>
        <a href="https://www.viennahouse.com/en/diplomat-prague/the-hotel/overview.html?gclid=EAIaIQobChMI1K2F6aC73gIVmuR3Ch3Fuw8SEAAYASAAEgKxcPD_BwEwww.viennahouse.com">www.viennahouse.com</a></br>
        Distance from the venue: 800 m (10 min. walk) – <a href="https://mapy.cz/s/3bElt">see map</a></p>
        <p>Single room: 2500 CZK (approx. 100€)<br>
        Double room: 2800 CZK (approx. 112€)</p>
        
        <h4>Hotel International</h4>
        <p>Koulova 15, Prague 6<br>
        <a href="http://internationalprague.cz/en/">www.internationalprague.cz</a><br>
        Distance from the venue: 800 m (10 min. walk) - <a href="https://mapy.cz/s/2gfaI">see map</a></p>
        <p>Single room: 2.950 CZK (approx. 118€)<br>
        Double room: 2.950 CZK (approx. 118€)</p>
              

        <div class='video-container'>
            <iframe src="https://www.google.com/maps/d/embed?mid=1FxiZqngGzNVIYUWjiR-UTHC2gSHKhAN_&hl=cs"></iframe>
        </div>

    </div>

</div>

  
{% endblock content %}
