{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
    <div class="page full-height flex flow-text clmps-background">
    <div class='card-panel hoverable' style='max-width:600px'>
        <h1>CLMPST</h1>
        <p>
        The Congress of Logic, Methodology and Philosophy of Science and Technology will be held in Prague in 2019
        in the week before the Logic Colloquium, in the same  venue.
        Participants wishing to visit both conferences are eligible for a reduced fee in the Early bird registration period.
        For more information about the congress, please visit their <a href='http://clmpst2019.flu.cas.cz'>website</a>.
        </p>
    </div>
    </div>
{% endblock content %}
