{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
   <div class="page full-height flex support-background">
    <div class='card-panel' style='max-width:550px; margin-right:auto; padding-top:0.1em'>
        <h2>Contact</h2>
        <h5><b>Conference office</b></h5>
        AMCA (conference office)<br/>
        Vyšehradská 320/49<br/>
        128 00 Praha 2, &nbsp;
        Czech&nbsp;Republic<br/> 
         <a href='mailto:office@lc2019.cz'><i class="fas fa-envelope"></i> &nbsp;&nbsp; office<b class='larger'>@</b>lc2019.cz</a><br/>
        <i class="fas fa-phone"></i> &nbsp;&nbsp; +420&nbsp;221&nbsp;979&nbsp;351<br/>
        <a href="https://www.amca.cz/en-us">AMCA website</a>

        <div class="spacer"></div>
        
        <h5><b>Organizing committee</b></h5>
        David Chodounský<br/>
        <a href='mailto:orge@lc2019.cz'><i class="fas fa-envelope"></i> &nbsp;&nbsp; org<b class='larger'>@</b>lc2019.cz</a><br/>
        <div class="spacer"></div>
        
        <p>Contact   
        <a href='mailto:abstracts@lc2019.cz'> 
                    abstracts<b class='larger'>@</b>lc2019.cz</a>
        and 
        <a href='mailto:support@lc2019.cz'>
            support<b class='larger'>@</b>lc2019.cz</a>
        for matters related to abstracts and financial support.</p>

        <p>Please contact the <b>conference office</b> for enquiries about travel, registration
        and other things outside the scientific program.</p>

        

        <p>If you are expecting an email from us, please also check your spam folder.</p>
    </div>
   </div>
{% endblock content %}
