{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}

{% block content %}
    <div class="page full-height flex flow-text prague-background">
        <div class ="centered light-fg">
            <div class="v-spacer m30"></div>
            <h1><b>Logic Colloquium 2019<br></b></h1>
            <h4>European Summer Meeting of the <br>
              Association for Symbolic Logic<br></h4>
              <h3><b>August 11-16,     &nbsp           Prague</b></h3>
        </div>
    </div>

{% endblock content %}

