{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}

<div class="page full-height flex">
<div class="section">

<h2>Invited talks</h2>

<div class ='col'>

<div class='row'>
    <h4 class='col s12'>Public plenary lecture</h4>
    <div class='col s12'>
        <a href='https://www.mcmp.philosophie.uni-muenchen.de/people/faculty/hannes_leitgeb/index.html' class="speaker">
            Hannes Leitgeb</a><br>
        Ludwig Maximilian University of Munich
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Leitgeb", "title") }}
            {% if get_talk_info(abstracts, "Leitgeb", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Leitgeb", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Leitgeb", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Leitgeb", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>
</div>

<div class="row">
    <h4 class='col s12'>Tutorials</h4>
    <div class='col m6 s12'>
            <a href='https://www1.maths.leeds.ac.uk/~rathjen/' class="speaker">Michael Rathjen</a><br>
            University of Leeds
            <span class='invited-talks title'> {{ get_talk_info(abstracts, "Rathjen", "title") }}
            {% if get_talk_info(abstracts, "Rathjen", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Rathjen", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Rathjen", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Rathjen", "abstract"))}}">abstract</a>{% endif %}
        </span>
            <div class="spacer"></div>
    </div>
    <div class='col m6 s12'>
            <a href='http://www.math.nus.edu.sg/~raghavan/' class="speaker">Dilip Raghavan</a><br>
            National University of Singapore
            <span class='invited-talks title'> {{ get_talk_info(abstracts, "Raghavan", "title") }}
            {% if get_talk_info(abstracts, "Raghavan", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Raghavan", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Raghavan", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Raghavan", "abstract"))}}">abstract</a>{% endif %}
        </span>
            <div class="spacer"></div>
    </div>
</div>

<div class='row'>
    <h4 class='col s12'>Retiring Presidential Address</h4>
    <div class='col s12'>
            <a href='https://www.mathematik.tu-darmstadt.de/~kohlenbach' class="speaker">Ulrich Kohlenbach</a><br>
            TU Darmstadt
            <span class='invited-talks title'> {{ get_talk_info(abstracts, "Kohlenbach", "title") }}
            {% if get_talk_info(abstracts, "Kohlenbach", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Kohlenbach", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Kohlenbach", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Kohlenbach", "abstract"))}}">abstract</a>{% endif %}
            </span>
            <div class="spacer"></div>
    </div>
</div>

<div class='row'>
    <h4 class='col s12'>Plenary lectures</h4>
    <div class='col m6 s12'>
            <a href='https://www.cs.ox.ac.uk/samson.abramsky/' class="speaker">Samson Abramsky</a><br>
            University of Oxford
            <span class='invited-talks title'> {{ get_talk_info(abstracts, "abramsky", "title") }}
            {% if get_talk_info(abstracts, "abramsky", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "abramsky", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "abramsky", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "abramsky", "abstract"))}}">abstract</a>{% endif %}
            </span>
            <div class="spacer"></div>
    </div>
    <div class='col m6 s12'>
            <a href='http://www.math.ens.fr/~zchatzid/' class="speaker">Zoé Chatzidakis</a><br>
        Ecole Normale Supérieure
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Chatzidakis", "title") }}
            {% if get_talk_info(abstracts, "Chatzidakis", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Chatzidakis", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Chatzidakis", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Chatzidakis", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>
    <div class='col m6 s12'>
            <a href='https://www.math.toronto.edu/cms/people/faculty/guzman-gonzalez-osvaldo/' class="speaker">Osvaldo Guzmán</a><br>
        University of Toronto
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Guzman", "title") }}
            {% if get_talk_info(abstracts, "Guzman", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Guzman", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Guzman", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Guzman", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>
    <div class='col m6 s12'>
            <a href='http://homepages.ecs.vuw.ac.nz/~harrism1/' class="speaker">Matthew Harrison-Trainor</a><br>
        Victoria University of Wellington
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Harrison-Trainor", "title") }}
            {% if get_talk_info(abstracts, "Harrison-Trainor", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Harrison-Trainor", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Harrison-Trainor", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Harrison-Trainor", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>
    <div class='col m6 s12'>
            <a href='https://www.karlin.mff.cuni.cz/~krajicek/' class="speaker">Jan Krajíček</a><br>
        Charles University
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Krajíček", "title") }}
            {% if get_talk_info(abstracts, "Krajíček", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Krajíček", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Krajíček", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Krajíček", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>
    <div class='col m6 s12'>
            <a href='http://www.sphere.univ-paris-diderot.fr/spip.php?article2113&lang=fr' class="speaker">Vincenzo de Risi</a><br>
        CNRS, Paris Diderot University
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Risi", "title") }}
            {% if get_talk_info(abstracts, "Risi", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Risi", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Risi", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Risi", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>
    <div class='col m6 s12'>
            <a href='https://gilisagi.wixsite.com/gil-sagi'  class="speaker">Gil Sagi</a><br>
        University of Haifa
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Sagi", "title") }}
            {% if get_talk_info(abstracts, "Sagi", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Sagi", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Sagi", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Sagi", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>

    <div class='col m6 s12'>
            <a href='https://math.berkeley.edu/~scanlon/' class="speaker">Thomas Scanlon</a><br>
        University of California at Berkeley
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Scanlon", "title") }}
            {% if get_talk_info(abstracts, "Scanlon", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Scanlon", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Scanlon", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Scanlon", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>

    <div class='col m6 s12'>
            <a href='https://rinekeverbrugge.nl/' class="speaker">Rineke Verbrugge</a><br>
        University of Groningen
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Verbrugge", "title") }}
            {% if get_talk_info(abstracts, "Verbrugge", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Verbrugge", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Verbrugge", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Verbrugge", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>

    <div class='col m6 s12'>
            <a href='https://ziegler.theoryofcomputation.asia/' class="speaker">Martin Ziegler</a><br>
        Korea Advanced Institute of Science and Technology
        <span class='invited-talks title'> {{ get_talk_info(abstracts, "Ziegler", "title") }}
            {% if get_talk_info(abstracts, "Ziegler", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Ziegler", "slides"))}}">slides</a>{% endif %}
            {% if get_talk_info(abstracts, "Ziegler", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Ziegler", "abstract"))}}">abstract</a>{% endif %}
        </span>
        <div class="spacer"></div>
    </div>
</div>
</div>



<h4>Special Sessions</h4>

<h5>Set Theory</h5>
<div class="spacer"></div>

<a class="speaker">
Yair Hayut</a> &nbsp; University of Vienna<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Hayut", "title") }}
    {% if get_talk_info(abstracts, "Hayut", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Hayut", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Hayut", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Hayut", "abstract"))}}">abstract</a>{% endif %}
</span>

<a href="https://www.frias.uni-freiburg.de/en/people/fellows/current-fellows/mildenberger" class="speaker">
 Heike Mildenberger</a> &nbsp; University of Freiburg<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Mildenberger", "title") }}
    {% if get_talk_info(abstracts, "Mildenberger", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Mildenberger", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Mildenberger", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Mildenberger", "abstract"))}}">abstract</a>{% endif %}
</span>

<a href="https://ajzucker.wordpress.com" class="speaker">
Andy Zucker</a> &nbsp; Paris Diderot University<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Zucker", "title") }}
    {% if get_talk_info(abstracts, "Zucker", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Zucker", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Zucker", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Zucker", "abstract"))}}">abstract</a>{% endif %}
</span>

    <div class="spacer"></div>
organized by David Chodounský and Osvaldo Guzmán
<div class="spacer"></div>

<div class="spacer"></div>
<h5>Model Theory</h5>
<div class="spacer"></div>

<a href="http://mat.msgsu.edu.tr/~ayse/" class="speaker">
Ayse Berkman</a> &nbsp; Mimar Sinan Fine Arts University<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Berkman", "title") }}
    {% if get_talk_info(abstracts, "Berkman", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Berkman", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Berkman", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Berkman", "abstract"))}}">abstract</a>{% endif %}
</span>

<a class="speaker">
Philip Dittmann</a> &nbsp; KU Leuven<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Dittmann", "title") }}
    {% if get_talk_info(abstracts, "Dittmann", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Dittmann", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Dittmann", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Dittmann", "abstract"))}}">abstract</a>{% endif %}
</span>

<a class="speaker">
Angus Macintyre</a> &nbsp; Queen Mary University of London<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Macintyre", "title") }}
    {% if get_talk_info(abstracts, "Macintyre", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Macintyre", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Macintyre", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Macintyre", "abstract"))}}">abstract</a>{% endif %}
</span>

<a href="https://physicalsciences.leeds.ac.uk/staff/1824/francesco-parente" class="speaker">
Francesco Parente</a> &nbsp; University of Leeds<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Parente", "title") }}
    {% if get_talk_info(abstracts, "Parente", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Parente", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Parente", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Parente", "abstract"))}}">abstract</a>{% endif %}
</span>


<div class="spacer"></div>
organized by Thomas Scanlon and Maryanthe Malliaris
<div class="spacer"></div>

<div class="spacer"></div>
<h5>Reflection Principles and Modal Logic</h5>
<div class="spacer"></div>

<a href="https://www.gu.se/english/about_the_university/staff/?languageId=100001&userId=xenaal" class="speaker">
Ali Enayat</a>  &nbsp; University of Gothenburg<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Enayat", "title") }}
    {% if get_talk_info(abstracts, "Enayat", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Enayat", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Enayat", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Enayat", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="http://users.math.cas.cz/~jerabek/" class="speaker">
Emil Jeřábek</a>  &nbsp; Czech Academy of Sciences<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Jeřábek", "title") }}
    {% if get_talk_info(abstracts, "Jeřábek", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Jeřábek", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Jeřábek", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Jeřábek", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="http://www.mi-ras.ru/~pakhfn/" class="speaker">
Fedor Pakhomov</a>  &nbsp; Steklov Mathematical Institute, Moscow<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Pakhomov", "title") }}
    {% if get_talk_info(abstracts, "Pakhomov", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Pakhomov", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Pakhomov", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Pakhomov", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="https://www.uu.nl/staff/AVisser" class="speaker">
Albert Visser</a>  &nbsp; Utrecht University<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Visser", "title") }}
    {% if get_talk_info(abstracts, "Visser", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Visser", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Visser", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Visser", "abstract"))}}">abstract</a>{% endif %}
</span>


<div class="spacer"></div>
organized by Joost Joosten and David  Fernández-Duque
<div class="spacer"></div>

<div class="spacer"></div>
<h5>Proof Theory and Proof Complexity</h5>
<div class="spacer"></div>

<a href="http://www.cse.chalmers.se/~bahafs/" class="speaker">
Bahareh Afshari</a>  &nbsp; University of Gothenburg <br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Afshari", "title") }}
    {% if get_talk_info(abstracts, "Afshari", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Afshari", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Afshari", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Afshari", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="https://www.fmi.uni-jena.de/Beyersdorff.html" class="speaker">
    Olaf Beyersdorff</a>  &nbsp; University of Jena<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Beyersdorff", "title") }}
    {% if get_talk_info(abstracts, "Beyersdorff", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Beyersdorff", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Beyersdorff", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Beyersdorff", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="https://www.mv.helsinki.fi/home/negri/" class="speaker">
    Sara Negri</a>  &nbsp; University of Helsinki<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Negri", "title") }}
    {% if get_talk_info(abstracts, "Negri", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Negri", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Negri", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Negri", "abstract"))}}">abstract</a>{% endif %}
</span>


<a class="speaker">
Pedro Pinto</a>  &nbsp; Univeristy of Lisbon<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Pinto", "title") }}
    {% if get_talk_info(abstracts, "Pinto", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Pinto", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Pinto", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Pinto", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="https://www2.mathematik.tu-darmstadt.de/~powell/" class="speaker">
Thomas Powell</a>  &nbsp; TU Darmstadt<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Powell", "title") }}
    {% if get_talk_info(abstracts, "Powell", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Powell", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Powell", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Powell", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="http://users.math.cas.cz/~thapen/" class="speaker">
Neil Thapen</a>  &nbsp; Czech Academy of Sciences<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Thapen", "title") }}
    {% if get_talk_info(abstracts, "Thapen", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Thapen", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Thapen", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Thapen", "abstract"))}}">abstract</a>{% endif %}
</span>


<div class="spacer"></div>
organized by Ulrich Kohlenbach and Samuel Buss
<div class="spacer"></div>

<div class="spacer"></div>
<h5>Computability</h5>
<div class="spacer"></div>

<a href="http://www.labri.fr/perso/lbienvenu/" class="speaker">
Laurent Bienvenu</a>  &nbsp; LaBRI<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Bienvenu", "title") }}
    {% if get_talk_info(abstracts, "Bienvenu", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Bienvenu", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Bienvenu", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Bienvenu", "abstract"))}}">abstract</a>{% endif %}
</span>

<a href="https://home.gwu.edu/~harizanv/index.html" class="speaker">
Valentina Harizanov</a>  &nbsp; George Washington University <br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Harizanov", "title") }}
    {% if get_talk_info(abstracts, "Harizanov", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Harizanov", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Harizanov", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Harizanov", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="https://www.math.uchicago.edu/~drh/" class="speaker">
    Denis Hirschfeldt</a>  &nbsp; University of Chicago<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Hirschfeldt", "title") }}
    {% if get_talk_info(abstracts, "Hirschfeldt", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Hirschfeldt", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Hirschfeldt", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Hirschfeldt", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="https://sites.google.com/a/wisc.edu/schweber/" class="speaker">
Noah Schweber</a>  &nbsp; University of Wisconsin–Madison<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Schweber", "title") }}
    {% if get_talk_info(abstracts, "Schweber", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Schweber", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Schweber", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Schweber", "abstract"))}}">abstract</a>{% endif %}
</span>


<div class="spacer"></div>
organized by Damir Dzhafarov and Alexander Shen
<div class="spacer"></div>

<div class="spacer"></div>
<h5>Foundations of Geometry</h5>
<div class="spacer"></div>

<a href="http://www.michaelbeeson.com/research/research.php" class="speaker">
Michael Beeson</a>  &nbsp; San José State University<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Beeson", "title") }}
    {% if get_talk_info(abstracts, "Beeson", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Beeson", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Beeson", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Beeson", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="http://igg.unistra.fr/people/boutry/" class="speaker">
Pierre Boutry</a>  &nbsp; University of Strasbourg<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Boutry", "title") }}
    {% if get_talk_info(abstracts, "Boutry", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Boutry", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Boutry", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Boutry", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="http://www.johnmumma.org/" class="speaker">
    John Mumma</a>  &nbsp; Cal State San Bernardino<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Mumma", "title") }}
    {% if get_talk_info(abstracts, "Mumma", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Mumma", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Mumma", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Mumma", "abstract"))}}">abstract</a>{% endif %}
</span>


<a href="https://sites.google.com/view/gianlucapaolini/home" class="speaker">
    Gianluca Paolini</a>  &nbsp; University of Torino<br>
<span class='invited-talks title'> {{ get_talk_info(abstracts, "Paolini", "title") }}
    {% if get_talk_info(abstracts, "Paolini", "slides") %}<a href="{{ static('public/slides/' + get_talk_info(abstracts, "Paolini", "slides"))}}">slides</a>{% endif %}
    {% if get_talk_info(abstracts, "Paolini", "abstract") %}<a href="{{ static('abstracts/' + get_talk_info(abstracts, "Paolini", "abstract"))}}">abstract</a>{% endif %}
</span>


<a name="contributed_talks"></a>

<div class="spacer"></div>
organized by John T. Baldwin and Victor Pambuccian



<div class="spacer"></div>
 <div class="spacer"></div>
 <div class="spacer"></div>



<h3>Program Committee </h3>
<ul>
    <li><b>Lev Beklemishev (Moscow)</b></li>
    <li>Andrew Arana (Paris)</li>
    <li>Agata Ciabattoni (Vienna)</li>
    <li>Russell Miller (New York)</li>
    <li>Martin Otto (Darmstadt)</li>
    <li>Pavel Pudlák (Prague)</li><a name="CLMPST"></a>
    <li>Stevo Todorčević (Toronto)</li>
    <li>Alex Wilkie (Oxford)</li>
</ul>

<h3>CLMPST 2019</h3>
<p>
The <b>Congress of Logic, Methodology and Philosophy of Science and Technology</b> will be held in Prague in 2019
in the week before the Logic Colloquium, in the same  venue.
Participants wishing to visit both conferences are eligible for a reduced fee in the Early bird registration period.
For more information about the congress, please visit their <a href='http://clmpst2019.flu.cas.cz'>website</a>.

    </div>

</div>


{% endblock content %}
