{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
<div class="page full-height">
    <h2>List of participants</h2>
    (last updated on {{ registrations_last_update }})
    <br/>
    <br/>
    <div class='participants'>
    {% for reg in registrations | sort(attribute='sortkey') %}
    {% if reg['show'] %}
        <div class='participant'> {{ reg['first_name'] }} {{ reg['last_name'] }}{% if reg['institution'] %}, {{ reg['institution']}} {% endif %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class='v-spacer'></div>
    </div>
</div>
{% endblock content %}

