{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
<div class="page full-height flex">
<div class="section">

    <h2>Conference photos</h2>
    © 2019 Petr Cintula <br/><br/>
    The full resolution <a href='{{ static("core/img/conference-photo.jpg") }}'>conference photo</a> (5 Mb)
    <span style='visibility:hidden'>
    *******************************
    *******************************
    *******************************
    *******************************
    *******************************
    *******************************
    *******************************
    *******************************
    **
    </span>
    <div id='gallery' class='gallery' style='width:100%; position:relative;'>
        <div id='gallery-inner'>
            {% for p in photos %}
                <a href='{{ static("photos/"+ p['filename']) }}'><img id='{{p.filename}}' src='{{ static("photos/scaled/"+ p['filename']) }}' width='{{ int(p['width'] /10) }}px' height='{{ int(p['height']/10) }}px' /></a>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<script>
    window.photos = {{ json(photos) }};
</script>
<script src='{{ static("core/js/gallery.js") }}'>
</script>
{% endblock content %}

