{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
<div class="page full-height flex">
<div class="section">



<h2>Program of talks</h2>

Speakers are shown in bold.
A bold topic marked with a star * indicates an invited talk in a special session.
Topics are abbreviated as:</p>

<div class='row'>
    <div class ='col s12 m6'>
     C - computability<br>
    FG - foundations of geometry<br>
    MT - model theory
    </div>
    <div class ='col s12 m6'>
    PTPC - proof theory and proof complexity<br>
    RPML - reflection principles and modal logic<br>
    ST - set theory
    </div>
</div>

Click on a title to show the abstract. You can also download a
<a href='{{static("abstracts/LC2019-Book_of_abstracts.pdf")}}'>book of abstracts</a>.
Other links:
<ul class='bullets'>
    <li>
    a <a href='/static/core/lctalks.pdf'>printable version</a> of this program
    </li>
    <li>
        the program organized <a href='/abstracts'>by topic</a>
    </li>
    <li>
    the whole <a href='/schedule'>schedule in a compact form</a>
    </li>
    <li>
    a page showing the <a href='/old_program.html'>invited speakers and special sessions</a>
    </li>
    <li>
        a list of  <a href='/participants'>participants</a>.
    </li>
</ul>

<div class='spacer'></div>

Jump to
{% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
<a href = "#{{day}}">{{day}}</a>{% if not loop.last %} - {% endif %}
{% endfor %}



{% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
    <a name ="{{day}}"></a>
    <div class='spacer'></div>
    <hr>
    <h4>{{ day }}</h4>
    {% for room_number in range(6) %}
        {% if day != 'Wednesday' or room_number == 0 %}
            <h5> {{ get_session(day, room_number) }}</h5>
            {% if day == 'Monday' and room_number == 0 %}
            <div class='abstract'>
                9:00-9:15 <span class='author'><i>Opening</i></span>
                <div class = 'spacer'></div>
            </div>
            {% endif %}
            <div class='chairman'><i class='fas fa-chair'></i> {{ chairmen[day]['room-'+str(room_number)][0] }}</div>
            {% for abs in get_talks(abstracts, day, room_number) %}
                    <div class='abstract'>
                            {% if get_schedule(abs, day)['start'] == '10:30' and day != 'Monday' %}
                            9:50-10:30 <span class='author'><i>Coffee break</i></span>
                            <div class = 'spacer'></div>
                            {% endif %}
                            {% if get_schedule(abs, day)['start'] == '10:30' and day == 'Monday' %}
                            10:05-10:30 <span class='author'><i>Coffee break</i></span>
                            <div class = 'spacer'></div>
                            {% endif %}
                            {% if get_schedule(abs, day)['start'] == '16:30' %}
                            16:00-16:30 <span class='author'><i>Coffee break</i></span>
                            <div class = 'spacer'></div>
                            <div class='chairman'><i class='fas fa-chair'></i> {{ chairmen[day]['room-'+str(room_number)][1] }}</div>
                            {% endif %}
                            {{ get_schedule(abs, day)['start'] }}-{{ get_schedule(abs, day)['stop'] }}
                            {{get_short_section(abs, day)}}
                            {% for a in abs['auth'] %}<span class='author  {% if a['main'] %}bold{% endif %}'>{{ a['name'] }}{% if not loop.last %}, {% endif %}</span>{% endfor %}

                                <div class='titleWithSection'>
                                 <a href='{{ static("abstracts/"+ abs['path']) }}'>
                                    <i>{{ abs['title'] }}</i>
                                </a>
                                {% if 'slides' in abs  %}(<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'>slides</a>){% endif %}
                                </div>
                    </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
<div class = 'v-spacer'></div>

<!-- THIS PART BELOW IS FOR COPYING AND PASTING TO MAKE THE PDF -->
<!--
{% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
    <a name ="{{day}}"></a>
    <br>
    <b>{{ day }}</b>
    <br>
    {% for room_number in range(6) %}
        {% if day != 'Wednesday' or room_number == 0 %}
        <p><b> {{ get_session(day, room_number) }}</b><p>
            {% if day == 'Monday' and room_number == 0 %}
            <div class='abstract'>
                9:00-9:15 <span class='author'><i>Opening</i></span>
                <div class = 'spacer'></div>
            </div>
            {% endif %}
            {% for abs in get_talks(abstracts, day, room_number) %}
                    <div class='abstract'>
                            {% if get_schedule(abs, day)['start'] == '10:30' and day != 'Monday' %}
                            9:50-10:30 <span class='author'><i>Coffee break</i></span>
                            <div class = 'spacer'></div>
                            {% endif %}
                            {% if get_schedule(abs, day)['start'] == '10:30' and day == 'Monday' %}
                            10:05-10:30 <span class='author'><i>Coffee break</i></span>
                            <div class = 'spacer'></div>
                            {% endif %}
                            {% if get_schedule(abs, day)['start'] == '16:30' %}
                            16:00-16:30 <span class='author'><i>Coffee break</i></span>
                            <div class = 'spacer'></div>
                            {% endif %}
                            {{ get_schedule(abs, day)['start'] }}-{{ get_schedule(abs, day)['stop'] }}
                            {{get_short_section(abs, day)}}
                            {% for a in abs['auth'] %}{% if a['main'] %}<b>{{ a['name'] }}</b>{% else %}{{ a['name'] }}{% endif %}{% if not loop.last %}, {% endif %}</span>{% endfor %}
                                                           <div class='titleWithSection'><i>{{ abs['title'] }}</i></div>

                    </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
                -->

</div>
</div>

{% endblock content %}
