{% extends 'base.html' %}
{% block navclass %}dark{% endblock navclass %}
{% block content %}
    <div class="page full-height flex">
    <div class='section'>

        <div class="card-panel dark-bg" style="padding-top:0.1em; padding-bottom:0.1em">
            <h4><b>Warning - Scam alert</b></h4>

            <p>It was brought to our attention that a third party company operating under the name
            Business Travel Management (and possibly other names) may be targetting participants
            of the Logic Colloquium 2019 with a fraudulent travel and hotel booking scheme.
            The company has been soliciting conference speakers and falsely claiming that it is acting on behalf of the Logic Colloquium organizers. The company can make false claims regarding arranging your accommodation (and possibly other arrangements)  to fraudulently obtain
            your credit card information.</p>

            <p>All local arrangements (hotel booking, etc.) for the Logic Colloquium are handled exclusively by the AMCA conference agency -
            <a href="https://www.amca.cz/en-us">www.amca.cz</a>.
             Information regarding your credit card should in general be handled only through the registration form linked from the conference website.
             If in doubt please contact the AMCA agency directly via the email
             address <a href='mailto:office@lc2019.cz'>office@lc2019.cz</a>.</p>
        </div>

        <h2>Registration</h2>

        <div class="card-panel dark-bg" style="padding-top:1em; padding-bottom:0.1em">
          <div class = "row">
            <div class = "col l3 m4 s12">
                <a class='btn btn-large yellow'
                  href='http://system.amca.cz/index.php/registration/lc-2019'><b>REGISTER</b></a>
              </div>
              <div class = "col l9 m8 s12">
                <div class = "spacer"></div>
              Registration is handled through the AMCA website.
              </div>
          </div>
        </div>


              <!--<p>Abstract submission for contributed talks is now open,
              see the <a href='/program.html#contributed_talks'>program page</a> for details.</p>-->

              <div class = "spacer"></div>

              <p>You can <a href='/static/core/poster-charles-bridge-variant-A3.pdf'> download a poster</a>
            for the colloquium.
                You can see a <a href='/participants.html'>list of participants</a>.
        </p>

        <h3>Conference Fees</h3>
            <table class='highlight'>
                <tr class='heading'><th colspan=2>Early bird registration / payment</th></tr>
                <tr><td>Regular fee</td><td class='right'>240 EUR</td></tr>
                <tr><td>Student fee</td><td class='right'>140 EUR</td></tr>
                <tr>
                    <td class='tooltipped' data-position="bottom" data-tooltip="For participants who also register for the CLMPST meeting">
                        Reduced fee<br/>
                        (for participants who also register for the <a href='/venue.html#CLMPST'>CLMPST meeting</a>)
                    </td>
                    <td style='vertical-align:top' class='right'>200 EUR</td>
                </tr>

                <tr class='heading'><th colspan=2>Standard registration / payment</th></tr>
                <tr><td>Regular fee</td><td class='right'>360 EUR</td></tr>
                <tr><td>Student fee</td><td class='right'>240 EUR</td></tr>
            </table>

            <h3>Deadlines</h3>
            <table class='highlight'>
                <tr><td>Abstract submission</td><td class='right'>May 31</td></tr>
                <!--<tr><td>Application for support</td><td class='right'>April 15, 2019</td></tr>-->
                <tr><td>Early bird registration</td><td class='right'>May 31</td></tr>
            </table>
            <div style='padding-top:1em;'></div>
            <p>


            </p>

    </div>
    <div class='section'>
        <h2>Travel Awards</h2>

        <p>
        The ASL is able to offer modest travel awards for graduate students or recent PhDs in
        logic to attend the colloquium.
        These can cover travel, accommodation and registration fees.
        Women and members of minority groups are strongly encouraged to apply.</p>
        <p>
        For graduate students from the US,
        these funds may come from the US National Science Foundation.
        NSF funds for meetings outside the United States are restricted to US citizens and
        permanent residents and to international students enrolled at US universities.
        They are <b>not</b> available for recent PhDs.
        Air travel paid for using NSF funds must comply with the Fly America Act.
        </p>
        {# <h5>Deadline: <b>April 15</b></h5>
        <h5>Decision date: <b>May 1</b></h5> #}

        <div class="card-panel dark-bg" style="padding-top:0.1em; padding-bottom:1em">
        <h4>How to apply</h4>

        <p> The initial deadline (April 15) has passed, but we are still accepting applications
            from <b>students eligible for NSF funding</b>.</p>

        <p>To apply, send a brief (preferably one page) application letter by email
            to <a href='mailto:support@lc2019.cz'>support@lc2019.cz</a>
        that includes
        <ul class='bullets'>
            <li>Your name</li>
            <li>Your home institution</li>
            <li>Your thesis supervisor’s name</li>
            <li>A one-paragraph description of your studies and work in logic</li>
            <li>A paragraph indicating why it is important to attend the meeting</li>
            <li>Your estimate of the travel expenses you will incur</li>
            <li>Confirmation that you are eligible for NSF funding (under the conditions above)</li>
            <li>For citizens or residents of the USA, your citizenship or visa status</li>
            <li>An indication of your gender and minority status (optional)</li>
        </ul>
        and ask your thesis supervisor to send a brief recommendation letter to the same address.</p>

        <p>If you are expecting an email from us, please also check your spam folder.</p>


        {#<div class='right-align'>
            <a class='btn btn-large yellow align-right' href='mailto:support@lc2019.cz'><b>APPLY</b></a>
            &nbsp
        </div>#}
    </div>
   </div>
</div>

{% endblock content %}
