{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}

<div class="page full-height flex">
        <div class = 'section'>
            <h2>Schedule</h2>
<!--<p>The conference will begin on the afternoon of Sunday, August 11
with a public lecture by Hannes Leitgeb, which is a joint event with
<a href="/venue.html#CLMPST">CLMPST</a> and is intended for a wide audience.
Lectures will then run from Monday to Friday, with a free afternoon and excursion
on Wednesday and the conference dinner on Thursday.</p>

<p>There will also be a joint social event with the CLMPST on Saturday, August 10,
20:00 at the <a href='https://goo.gl/maps/jTU3BV3J25A2'>Institute of Philosophy of the Czech Academy of Sciences</a>.
            Participants registered for the Logic Colloquium are welcome to attend free of charge.</p>-->

<h4>Social and Other Events</h1>
<ul>
    <li><b>Saturday, August 10</b></li>
        <li>20:00 CLMPST closing party at the <a href='https://goo.gl/maps/jTU3BV3J25A2'>Institute of Philosophy of the Czech Academy of Sciences</a>.
            Participants registered for the logic colloquium are welcome to attend free of charge.</li>
    <li><b>Sunday, August 11</b></li>
        <li>14:00 Registration starts at the conference venue</li>
        <li>17:00 Welcome drink at the conference venue</li>
        <li>18:00 Public lecture by Hannes Leitgeb (this is a joint event with <a href="/venue.html#CLMPST">CLMPST</a> and is intended for a wide audience)</li>
    <li><b>Tuesday, August 13</b></li>
        <li>12:20 Conference photo </li>
        <li>19:00 ASL Council Meeting</li>
    <li><b>Wednesday, August 14</b></li>
        <li>Excursions in the afternoon </li>
    <li><b>Thursday, August 15</b></li>
        <li>19:30 Conference dinner</li>
</ul>

<h4>Plenary Talks</h4>
<div>All plenary talks take place in <b>Room A</b>.</div>
<div class='v-spacer m2'></div>
<div class='schedule'>
    <div class='talk other plenary Monday' style='top:{{ time2px('9:00') }}px; height: {{ sched2height('9:00','9:15') }}px' start='{{ time2px('9:00') }}' stop={{ time2px('9:15') }}>
            <center class='author'>9:00 Opening</center>
    </div>
    <div class='talk other plenary Tuesday' style='top:{{ time2px('12:25') }}px; height: {{ sched2height('12:20','12:35') }}px' start='{{ time2px('12:20') }}' stop={{ time2px('12:35') }}>
            <center class='author'>12:20 Conference Photo</center>
    </div>
    <div class='talk coffeebreak session' style='top:{{time2px('9:50')}}px; height:{{sched2height('9:50', '10:30')}}px'><center>Coffee Break</center></div>

    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
        <div class='talk plenary daytitle {{ day }}'>
            <center>{{ day }}<br/><span class='chairman'><i class='fas fa-chair'></i> {{ chairmen[day]['room-0'][0] }}</span></center>
        </div>
    {% endfor %}


    {% for abs in extract_group(abstracts, 'section', 'Plenary') %}
        {% if 'schedule' in abs and not 'tutorial' in abs %}
        <a href='{{ static("abstracts/"+ abs['path']) }}' title='{{abs['title']}}'>
        <div class='talk {{ last_name(abs['main_author']) }} {{ abs['schedule']['room'].replace(' ','-') }} {{ abs['section'].lower().replace(' ','-') }} {{abs['status']}} {{abs['schedule']['day']}}' style='top:{{
            time2px(abs['schedule']['start'])
        }}px; height:{{
            sched2height(abs['schedule']['start'], abs['schedule']['stop']) + 5
        }}px;' start="{{abs['schedule']['start']}}" stop="{{abs['schedule']['stop']}}">
            <div class='duration'>{{abs['schedule']['start']}}&ndash;{{abs['schedule']['stop']}}</div>
            <div class='author'>{{ last_name(abs['main_author']) }}</div>
            <div class='title'>{{ abs['title'] }}</div>
        </div>
        </a>
        {% elif 'schedule' in abs and abs['tutorial'] %}
        {% for sched in abs['schedule'] %}
        <a href='{{ static("abstracts/"+ abs['path']) }}' title='{{abs['title']}}'>
        <div class='talk tutorial {{ sched['room'].replace(' ','-') }} {{ abs['section'].lower().replace(' ','-') }} {{abs['status']}} {{sched['day']}}' style='top:{{
            time2px(sched['start'])
        }}px; height:{{
            sched2height(sched['start'], sched['stop']) + 5
        }}px;' start="{{sched['start']}}" stop="{{sched['stop']}}">
            <div class='duration'>{{sched['start']}}&ndash;{{sched['stop']}}</div>
            <div class='author'>{{ last_name(abs['main_author']) }}</div>
            <div class='title'>{{ abs['title'] }}</div>
        </div>
        </a>
        {% endfor %}
        {% endif %}
    {% endfor %}
</div>


<h4>Special Sessions &amp; Contributed Talks</h4>
<div class='v-spacer m2 afternoon'></div>
{% for day in ['Monday', 'Tuesday', 'Thursday', 'Friday'] %}
<div class='schedule {{ day }}'>
    <div class='talk daytitle session'><center>{{ day }}</center></div>
    {% for room_n, room_t in [(1, 'B'), (2, 'C'), (3, 'D'), (4, 'E'), (5, 'F')] %}
        <div class='talk room-{{ room_n }} room-title'>
            <center>Room {{ room_t }}<br/><span class='chairman'><i class='fas fa-chair'></i> {{ chairmen[day]['room-'+str(room_n)][0] }}</span></center>
        </div>
        <div class='talk room-{{ room_n }} chairman' style='top:{{time2px('16:15')}}px; height:{{sched2height('16:00', '16:30')}}px'>
            <center><span class='chairman'><i class='fas fa-chair'></i> {{ chairmen[day]['room-'+str(room_n)][1] }}</span></center>
        </div>
    {% endfor %}
    <div class='sidebar'>
        <div class='set-theory'>Set Theory</div>
        <div class='model-theory'>Model Theory</div>
        <div class='reflection-principles-and-modal-logic'>Reflection Principles and Modal Logic</div>
        <div class='proof-theory-and-proof-complexity'>Proof Theory and Proof Complexity</div>
        <div class='computability'>Computability</div>
        <div class='foundations-of-geometry'>Foundations of Geometry</div>
        <div class='general'>General</div>
    </div>
    <div class='talk coffeebreak session' style='top:{{time2px('15:50')}}px; height:{{sched2height('16:00', '16:30')}}px'><center>Coffee Break</center></div>
    {% for abs in extract_group(abstracts, 'schedule.day', day) %}
        {% if 'schedule' in abs and abs['section'] != 'Plenary' %}
        <a href='{{ static("abstracts/"+ abs['path']) }}' title='{{abs['title']}}'>
        <div class='talk {{ abs['schedule']['room'].replace(' ','-') }} {{ abs['schedule']['session'].lower().replace(' ','-') }} {{abs['status']}}' style='top:{{
            time2px(abs['schedule']['start'])
        }}px; height:{{
            sched2height(abs['schedule']['start'], abs['schedule']['stop'])
        }}px;' start="{{abs['schedule']['start']}}" stop="{{abs['schedule']['stop']}}">
            <center class='author'>{{ last_name(abs['main_author']) }}</center>
            <center class='duration'>{{abs['schedule']['start']}}&ndash;{{abs['schedule']['stop']}}</center>
            <span class='title'>{{ abs['title'] }}</span>
        </div>
        </a>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}


<!--<div>
<a href='/static/core/schedule-afternoon-preliminary-2.pdf'><img src='/static/core/schedule-afternoon-preliminary-2.jpg' height='1004px' width='1128px' />
</div>-->
<!--<iframe class='schedule' src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR8ByyzRczXWY0XCvikep54xHM5H_XWGKNegP5okOAaxKsiQvab_uWhwuLIDkik_r7_W-8ACp0n39Yz/pubhtml?gid=1937733518&amp;single=true&amp;widget=false&amp;headers=false" width='100%'></iframe>-->
</div>
</div>
</div>
{% endblock content %}
