{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}

<div class="page full-height">
        <div class = 'section'>
            <h2>Schedule with Slides</h2>

<h4 style='float:left; margin-left:820px;'>Plenary Talks</h4>
<div class='schedule sunday'>
<a href='{{static("public/slides/Hannes-Leitgeb-RamseySemanticsFin.pdf")}}' title='Ramsification and Semantic Indeterminacy'>
<div class='talk Leitgeb plenary invited sunday' style='top:0px; height:70px;' start="18:00" stop="19:00">
            <div class='duration'>18:00&ndash;19:00</div>
            <div class='author'>Leitgeb</div>
            <div class='title'>Ramsification and Semantic Indeterminacy</div>
</div>
</a>
</div>

<div class='v-spacer m2'></div>
<div class='schedule'>
    <div class='talk other plenary Monday' style='top:{{ time2px('9:00') }}px; height: {{ sched2height('9:00','9:15') }}px' start='{{ time2px('9:00') }}' stop={{ time2px('9:15') }}>
            <center class='author'>9:00 Opening</center>
    </div>
    <div class='talk other plenary Tuesday' style='top:{{ time2px('12:25') }}px; height: {{ sched2height('12:20','12:35') }}px' start='{{ time2px('12:20') }}' stop={{ time2px('12:35') }}>
            <center class='author'>12:20 Conference Photo</center>
    </div>
    <div class='talk coffeebreak session' style='top:{{time2px('9:50')}}px; height:{{sched2height('9:50', '10:30')}}px'><center>Coffee Break</center></div>

    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
        <div class='talk plenary daytitle {{ day }}'>
            <center>(<a href='{{ static('public/slides/' + day+'-room-0.zip') }}'>{{day}} slides</a>)</center>
        </div>
    {% endfor %}


    {% for abs in extract_group(abstracts, 'section', 'Plenary') %}
        {% if 'schedule' in abs and not 'tutorial' in abs %}
        {% if 'slides' in abs  %}<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'> {% endif %}
        <div class='talk {{ last_name(abs['main_author']) }} {{ abs['schedule']['room'].replace(' ','-') }} {{ abs['section'].lower().replace(' ','-') }} {{abs['status']}} {{abs['schedule']['day']}}  {% if 'slides' not in abs %}noslides{% endif %}' style='top:{{
            time2px(abs['schedule']['start'])
        }}px; height:{{
            sched2height(abs['schedule']['start'], abs['schedule']['stop']) + 5
        }}px;' start="{{abs['schedule']['start']}}" stop="{{abs['schedule']['stop']}}">
            <div class='duration'>{{abs['schedule']['start']}}&ndash;{{abs['schedule']['stop']}}</div>
            <div class='author'>{{ last_name(abs['main_author']) }}</div>
            <div class='title'>{{ abs['title'] }}</div>
        </div>
        {% if 'slides' in abs %}</a>{% endif %}
        {% elif 'schedule' in abs and abs['tutorial'] %}
        {% for sched in abs['schedule'] %}
        {% if 'slides' in abs  %}<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'> {% endif %}
        <div class='talk tutorial {{ sched['room'].replace(' ','-') }} {{ abs['section'].lower().replace(' ','-') }} {{abs['status']}} {{sched['day']}} {% if 'slides' not in abs %}noslides{% endif %}' style='top:{{
            time2px(sched['start'])
        }}px; height:{{
            sched2height(sched['start'], sched['stop']) + 5
        }}px;' start="{{sched['start']}}" stop="{{sched['stop']}}">
            <div class='duration'>{{sched['start']}}&ndash;{{sched['stop']}}</div>
            <div class='author'>{{ last_name(abs['main_author']) }}</div>
            <div class='title'>{{ abs['title'] }}</div>
        </div>
        {% endfor %}
        {% endif %}
    {% endfor %}
</div>


<h4>Special Sessions &amp; Contributed Talks</h4>
<div class='v-spacer m2 afternoon'></div>
{% for day in ['Monday', 'Tuesday', 'Thursday', 'Friday'] %}
<div class='schedule {{ day }}'>
    <div class='talk daytitle session'><center>{{ day }}</center></div>
    {% for room_n, room_t in [(1, 'B'), (2, 'C'), (3, 'D'), (4, 'E'), (5, 'F')] %}
        <div class='talk room-{{ room_n }} room-title'>
        <center><a href='{{ static('public/slides/' + day + '-room-' + str(room_n) + '.zip') }}'>{{ room_t }} slides</a></center>
        </div>
    {% endfor %}
    <div class='sidebar'>
        <div class='set-theory'>Set Theory</div>
        <div class='model-theory'>Model Theory</div>
        <div class='reflection-principles-and-modal-logic'>Reflection Principles and Modal Logic</div>
        <div class='proof-theory-and-proof-complexity'>Proof Theory and Proof Complexity</div>
        <div class='computability'>Computability</div>
        <div class='foundations-of-geometry'>Foundations of Geometry</div>
        <div class='general'>General</div>
    </div>
    <div class='talk coffeebreak session' style='top:{{time2px('16:00')}}px; height:{{sched2height('16:00', '16:30')}}px'><center>Coffee Break</center></div>
    {% for abs in extract_group(abstracts, 'schedule.day', day) %}
        {% if 'schedule' in abs and abs['section'] != 'Plenary' %}
        {% if 'slides' in abs  %}<a href='{{ static("public/slides/"+ abs['slides'][0]['path']) }}' title='{{abs['title']}}'> {% endif %}
        <div class='talk {{ abs['schedule']['room'].replace(' ','-') }} {{ abs['schedule']['session'].lower().replace(' ','-') }} {{abs['status']}} {% if 'slides' not in abs %}noslides{% endif %}' style='top:{{
            time2px(abs['schedule']['start'])
        }}px; height:{{
            sched2height(abs['schedule']['start'], abs['schedule']['stop'])
        }}px;' start="{{abs['schedule']['start']}}" stop="{{abs['schedule']['stop']}}">
            <center class='author'>{{ last_name(abs['main_author']) }}</center>
            <center class='duration'>{{abs['schedule']['start']}}&ndash;{{abs['schedule']['stop']}}</center>
            <span class='title'>{{ abs['title'] }}</span>
        </div>
        {% if 'slides' in abs %}</a>{% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endfor %}


<!--<div>
<a href='/static/core/schedule-afternoon-preliminary-2.pdf'><img src='/static/core/schedule-afternoon-preliminary-2.jpg' height='1004px' width='1128px' />
</div>-->
<!--<iframe class='schedule' src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR8ByyzRczXWY0XCvikep54xHM5H_XWGKNegP5okOAaxKsiQvab_uWhwuLIDkik_r7_W-8ACp0n39Yz/pubhtml?gid=1937733518&amp;single=true&amp;widget=false&amp;headers=false" width='100%'></iframe>-->
</div>
</div>
</div>
{% endblock content %}

