{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
<div class="page full-height flex">
    <div class = 'section'>
        <h2>Social events</h2>

        <h4>CLMPST closing party</h4>

            <h5>Saturday, August 10, 20:00</h5>

            This joint event of the <a href="/venue.html#CLMPST">CLMPST</a> and logic colloquium will take place at the <a href='https://goo.gl/maps/jTU3BV3J25A2'>Institute of Philosophy of the Czech Academy of Sciences</a>.
            Participants registered for the colloquium are welcome to attend free of charge.

            <h4>Welcome drink</h4>
            <h5>Sunday, August 11, 17:00</h5>

            The conference will start with a welcome drink at the conference venue which will be followed by a public
            lecture delivered by Hannes Leitgeb.


            <h4>Conference dinner</h4>
            <h5>Thursday, August 15, 19:30</h5>

            The conference dinner will take place at the <a href='https://www.manesrestaurant.cz/en'>Art Restaurant Mánes</a>. 
            The dinner costs <b>1250 CZK</b>
            and tickets may be ordered by e-mail at <a href='mailto:office@lc2019.cz'>office@lc2019.cz</a> or at the registration desk by <b>Wednesday, August 14, 10:00</b>.

    <h3>Wednesday excursions</h3>


    <div>
    The excursions are not included in the registration fee. Tickets may be purchased at the registration desk. Please, make a reservation in advance at <a href='mailto:office@lc2019.cz'>office@lc2019.cz</a> or at the registration desk by <b>Tuesday, August 13, 10:00</b>. Note that the excursions each have a minimum number of persons which must register for the excursion to take place.
    </div>
    <div class='row'>
        <div class='col s12 m4'>
            <div class='card hoverable' style='max-width:600px; margin-left:auto;'>
                <div class="card-image">
                    <img src="{{ static('core/img/excursion-prague.jpg')}}">
                </div>
                <div class='card-content'>
                    <h4>Sightseeing Tour of Prague</h4>
                    <i class='fa fa-clock'></i> 13:30 – 18:00<br/>
                    <i class='fa fa-tag'></i> 1200 CZK (~ 48 EUR)<br/>
                    <i class='fa fa-map-marker'></i> registration desk</br>

                    <div class='v-spacer m1'></div>


                    This walking tour includes English speaking guides, public transport tickets and lunch in 
                    a restaurant in the city center.
                    <p>
                    <b>Places of interest</b><br/>
                    Strahov Monastery, Hradčanské Square, South Gardens of the Prague Castle, Prague Castle, Cathedral of St. Vitus at Prague Castle, Nerudova Street, Charles Bridge, Old Town Square, etc.
                    <p>
                    <b>Old Town Square</b><br/>
                    The most significant square of historical Prague. It originated in the 12th century. The square has several dominant features, the baroque St. Nicholas Church (K. I. Dienzenhofer, 1732 - 1737), the rococo Kinský Palace housing the National Gallery exhibition hall, the Stone Bell House - a gothic city palace from the 14th century - now the Municipal Gallery concert and exhibition halls, and the Memorial to Master Jan Hus sculptured by Ladislav Saloun (1915). The very place where the 27 Czech noblemen were executed on 21 June, 1621, is marked in the square pavement.
                    <p>
                    <b>Charles Bridge</b><br/>
                    The oldest Prague bridge built in place of Judita’s Bridge that had been badly damaged by a flood in 1342. The Stone or Prague
                    Bridge renamed Charles Bridge in 1870, was founded by Charles IV in 1357. According to the latest research the construction was started by Master Otto and finished by Peter Parler in 1402. Both ends of the bridge are fortified by towers (Lesser Town Bridge Tower, Old Town Bridge Tower). From 1683 to 1928 thirty sculptures and sculptural groups of the saints were gradually set on the bridge piers (M. Braun, F. M. Brokof, etc.). The bridge is 515 meters long and 10 meters wide.
                    <p>
                    <b>Prague Castle</b><br/>
                    A national cultural monument, the symbol of more than 4 millennia of development of the Czech state.
                    Since its foundation in the last quarter of the 9th century it has been developing uninterruptedly throughout the past eleven centuries. It is a monumental complex of ecclesiastical, fortification, residential and office buildings representing all architectural styles and periods, surrounded by three castle courtyards and covering 45 hectares. Originally it was the residence of the princes and kings of Bohemia. Since 1918 it has been the seat of the president.
                </div>
            </div>
        </div>
        <div class='col s12 m4'>
             <div class='card hoverable' style='max-width:600px; margin-left:auto;'>
                <div class="card-image">
                    <img src="{{ static('core/img/jewish-quarter.jpg')}}">
                </div>
                <div class='card-content'>
                    <h4>The Jewish Museum in Prague</h4>

                    <i class='fa fa-clock'></i> 14:00 – 17:00<br/>
                    <i class='fa fa-tag'></i> 1100 CZK (~ 45 EUR)<br/>
                    <i class='fa fa-map-marker'></i> registration desk</br>

                    <div class='v-spacer m1'></div>

                    The walking tour includes English speaking guides, public transport tickets and entrance to the Jewish Museum and the Old New Synagogue.

<!--                     Minimum number of persons: 10 -->
                </div>
            </div>
        </div>
        <div class='col s12 m4'>
             <div class='card hoverable' style='max-width:600px; margin-left:auto;'>
                <div class="card-image">
                    <img src="{{ static('core/img/karlstejn.jpg')}}">
                </div>
                <div class='card-content'>
                    <h4>Trip to Karlštejn Castle</h4>

                    <i class='fa fa-clock'></i> 14:30 – 20:00<br/>
                    <i class='fa fa-tag'></i> 1400 CZK (~ 56 EUR)</br>
                    <i class='fa fa-map-marker'></i> conference venue</br>

                    <div class='v-spacer m1'></div>

                    A visit to a majestic gothic castle founded 650 years ago by Charles IV, 
                    King of Bohemia and of the Roman Empire. 
                    The castle was built in the 14th century as a place for safekeeping of royal treasures, 
                    especially the coronation jewels. 
                    Located in a picturesque site on the Dragon's rock in the middle of dense forests just about an hour's 
                    drive from Prague, for many visitors this is one of the most popular destinations. 
                    The trip includes 30 minutes walking.</p>

                    The price includes bus/train transport and entrance to the castle.
                    <!--Minimum number of persons: 15-->

                </div>
            </div>
        </div>
    </div>
    
</div>

</div>
{% endblock content %}

