{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
   <div class="page full-height flex">

    <div class='section'>
        <h2>Travel Awards</h2>

        <p>
        The ASL is able to offer modest travel awards for graduate students or recent PhDs in 
        logic to attend the colloquium.
        These can cover travel, accommodation and registration fees.
        Women and members of minority groups are strongly encouraged to apply.</p>
        <p>
        For graduate students from the US,
        these funds may come from the US National Science Foundation. 
        NSF funds for meetings outside the United States are restricted to US citizens and 
        permanent residents and to international students enrolled at US universities. 
        They are <b>not</b> available for recent PhDs.
        Air travel paid for using NSF funds must comply with the Fly America Act.
        </p>
        {# <h5>Deadline: <b>April 15</b></h5>
        <h5>Decision date: <b>May 1</b></h5> #}

        <div class="card-panel dark-bg" style="padding-top:0.1em; padding-bottom:1em">
        <h4>How to apply</h4>
        
        <p> The initial deadline (April 15) has passed, but we are still accepting applications
            from <b>students eligible for NSF funding</b>.</p>

        <p>To apply, send a brief (preferably one page) application letter by email
            to <a href='mailto:support@lc2019.cz'>support@lc2019.cz</a>
        that includes
        <ul class='bullets'>
            <li>Your name</li>
            <li>Your home institution</li>
            <li>Your thesis supervisor’s name</li>
            <li>A one-paragraph description of your studies and work in logic</li>
            <li>A paragraph indicating why it is important to attend the meeting</li>
            <li>Your estimate of the travel expenses you will incur</li>
            <li>Confirmation that you are eligible for NSF funding (under the conditions above)</li>
            <li>For citizens or residents of the USA, your citizenship or visa status</li>
            <li>An indication of your gender and minority status (optional)</li>
        </ul>
        and ask your thesis supervisor to send a brief recommendation letter to the same address.</p>

        <p>If you are expecting an email from us, please also check your spam folder.</p>


        {#<div class='right-align'>
            <a class='btn btn-large yellow align-right' href='mailto:support@lc2019.cz'><b>APPLY</b></a>
            &nbsp
        </div>#}
    </div>
   </div>
</div>
{% endblock content %}
