{% extends 'base.html' %}
{% block navclass %}dark{% endblock %}
{% block content %}
<div class="page full-height flex">
    <div class = "section">

         <h2>Conference venue</h2>

        <div class='row'>
            <div class ='col s12 m6'>
                <img class="responsive-img" src="/static/core/img/fa-2.jpg">
            </div>
            <div class ='col s12 m6'>
                    <img class="responsive-img" src="/static/core/img/room.jpg">
                </div>            
        </div>   
                <p>Faculty of Architecture, &nbsp
                    Czech Technical University<br>
                Thákurova 9, &nbsp 166 34 Prague 6, &nbsp
                Czech Republic<br>
                
                <a href='https://www.fa.cvut.cz/en'><b>www.fa.cvut.cz</b></a></p>

                <a class='btn yellow' href='https://en.mapy.cz/s/3kkCs' style='position:relative;top:-0.5em;'><i class='material-icons'>map</i><b style='vertical-align:top;margin-left:0.5em;''>SHOW ON A MAP</b></a>

                <p>Lecture rooms are equipped with a data projector and a whiteboard.
           

        

        <h4>Public transport</h4>
        <ul class='bullets'>
            <li>metro line A – "Dejvická" station</li>
            <li>trams 8, 18, 20 and 26 – "Dejvická" or "Lotyšská" stops</li>
            <li>buses – "Dejvická" or "Lotyšská" stops</li>
        </ul>
        <p>
        You can plan trips at <a href='http://www.dpp.cz/en/'>www.dpp.cz/en/</a>
        or download the Prague public transport mobile app at 
        <a href='https://www.dpp.cz/en/mobile-apps'>www.dpp.cz/en/mobile-apps</a>.
        </p>

        <h4>Lunch</h4>

        Lunches will not be provided, however, there are a number of suitable restaurants in the neighborhood
        - see <a href="/restaurants.html">this page</a>.

        <h4>Parking</h4>
        <p>The venue is in a residential parking zone. 
        See the map
        <a href='https://en.mapy.cz/zakladni?x=14.3918724&y=50.1087061&z=17&source=addr&id=8977793&q=Koulova%2015%2C%20Praha'>here</a>.
        <span class='blue-text'>Blue zones</span> are intended solely for residents 
        and are subject to a fine.
        <span class='purple-text'>Purple zones</span> are paid parking and you
        can park for CZK 10 - 40 per hour (Monday-Friday), or for free on Saturday and Sunday.
        The building in front of the conference venue is a parking garage -
        <a href='http://www.garazedejvice.cz/'>www.garazedejvice.cz</a>.
        

        <h3>Travelling from the airport</h3>
        
        <h4>By public transport</h4>

        <p>Take bus number 119 from the airport to its final stop "Nádraží Veleslavín", 
        then take metro line A to "Dejvická" station (two stops). 
        The conference venue is situated 600m from the metro exit (for "Bus station") -
         <a href='https://www.google.cz/maps/dir/Dejvick%C3%A1/Fakulta+architektury,+%C4%8CVUT+v+Praze/@50.1034622,14.3906749,17z/data=!4m14!4m13!1m5!1m1!1s0x470b9524ab48bb95:0xb334c86b1aeb5e25!2m2!1d14.3930761!2d50.1006603!1m5!1m1!1s0x0:0x82fcbf034432262d!2m2!1d14.3897184!2d50.1051548!3e2?shorturl=1'>
        see the map</a>.</p>
        <p>The journey takes about 28 minutes and you can use a 24 CZK ticket
        (this ticket is valid for 30 minutes after validating it on the bus) 
        or a 32 CZK ticket (valid for 90 minutes).</p>
        
        <p>You can find information or buy tickets at public transport info centers at the airport -
        <a href='http://www.dpp.cz/en/info-centres-at-prague-airport/'>
        www.dpp.cz/en/info-centres-at-prague-airport/</a>.
        These are located in the arrival halls of both terminals and are 
        open daily from 7:00 to 21:00. 
        They offer, free of charge, all the relevant information on 
        public transport in Prague, its routes, timetables and fares. 
        They also offer
        <ul class='bullets'>
        <li>single-trip and short-term tickets valid for 24 hours or for one day
            (a ticket costs 110 CZK/approximately 4 EUR) or three days 
            (a ticket costs 310 CZK/approximately 11 EUR)</li>
        <li>timetables for trams and buses (from any stop)</li>
        <li>a map of Prague with its public transport network.</li>
        </ul></p>
        

        <h4>By taxi</h4>

        <p>Taxi is much more expensive than public transport and only a little bit faster. 
        It is reasonable to use taxis only for night arrivals/departures, 
        when bus line 119 does not operate.</p>

        <p>We recommend using FIX Taxi or Taxi Praha, which are the official taxi companies
        operating at the airport -
        <a href='https://www.prg.aero/en/taxi'>www.prg.aero/en/taxi</a>.
        You can find taxis in front of the arrivals halls of both terminals.

        The fare from the airport to the conference venue/offered hotels can be expected
        to be around 400 CZK (a higher fare is possible depending on the current traffic).</p>


        <h3>Travelling from the main railway station</h3>

        <p>We recommend using public transportation instead of taxis: 
        it is cheaper and usually faster due to heavy traffic. 
        The  venue is close to a metro station.</p>

        <p>From the railway station "Hlavní Nádraží" take metro line C (red line) 
        to "Muzeum" station. There change to line A (green line) and continue to "Dejvická" station.
        The conference venue is situated 600m from the metro exit (for "Bus station") -
         <a href='https://www.google.cz/maps/dir/Dejvick%C3%A1/Fakulta+architektury,+%C4%8CVUT+v+Praze/@50.1034622,14.3906749,17z/data=!4m14!4m13!1m5!1m1!1s0x470b9524ab48bb95:0xb334c86b1aeb5e25!2m2!1d14.3930761!2d50.1006603!1m5!1m1!1s0x0:0x82fcbf034432262d!2m2!1d14.3897184!2d50.1051548!3e2?shorturl=1'>
        see the map</a>.</p>
        <p>The journey takes about 15 minutes and you can use a 24 CZK ticket
        (this ticket is valid for 30 minutes after validating it when entering the metro) 
        or a 32 CZK ticket (valid for 90 minutes).</p>

        
        <h3>Passport and visa requirements</h3>
        
        <p>Visitors from non-EU countries must possess a passport valid for at 
        least three months after the end of the congress. 
        Participants requiring a visa should apply immediately to the consular 
        office or embassy of the Czech Republic in their country in order to avoid 
        inconvenience. Please note that the visa application procedure can take up 
        to two months.
        For more detailed information please see 
        <a href="http://www.mzv.cz/en">www.mzv.cz/en</a>.</p>
        
        <p>The conference office can assist the delegates by processing the official
         invitation upon request. This letter of invitation, however, constitutes
          neither any obligation by the office nor by the 
          organizing committee to cover any travel and accommodation expenses, 
          fees or other costs connected with attending the meeting and staying in 
          the Czech Republic.<a name="CLMPST"></a>
          For invitation letter requests and for more information please contact
            the conference office  - see the <a href='/contacts'>contacts page</a>.</p>
        {# :<br>
        <br>
        Secretariat<br>
        AMCA, spol. s r.o. (Academic and Medical Conference Agency)<br>
        Vyšehradská 320/49, 128 00 Prague 2, Czech Republic<br>
        Phone: +420 221 979 351 | +420 737 357 159<br>
        Fax: +420 221 979 352<br>
        E-mail: amca@amca.cz</p>#}
        
        <h3>CLMPST 2019</h3>
<p>
The <b>Congress of Logic, Methodology and Philosophy of Science and Technology</b> will be held in Prague in 2019
in the week before the Logic Colloquium, in the same  venue.
Participants wishing to visit both conferences are eligible for a reduced fee in the Early bird registration period.
For more information about the congress, please visit their <a href='http://clmpst2019.flu.cas.cz'>website</a>.

        

    </div>

</div>

 
{% endblock content %}
